<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Cat's Away!</title>
</head>
<link rel="stylesheet" href="css/404.css">
<body>
	<div class="container">
		<h1>404</h1>
		<hr>
		<p>The page you're looking for could not be found! We looked everywhere, even on the Moon, but we couldn't find the thing! :(</p>
	</div>
</body>
</html>